<div class="container">
  <h3>Add Bike</h3>
  <form (submit)="onAddBike()" class="form w-75">
    <input class="form-control" type="text" [(ngModel)]="title" name="title" placeholder="title">
    <input class="form-control" type="number" step=".01" [(ngModel)]="price" name="price" placeholder="price">
    <input class="form-control" type="text" [(ngModel)]="location" name="location" placeholder="location">
    <input class="form-control" type="text" [(ngModel)]="imgurl" name="imgurl" placeholder="imgurl">
    <textarea class="form-control" [(ngModel)]="description" name="description" placeholder="description"></textarea>
    <button class="btn mb-2" type="submit">Submit</button>
  </form>
</div>
